* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
}


.dark-theme {
	background-color: #282c34;
	color: aqua;
}

.light-theme {
	color: #282c34;
	background-color: #9ae0f3;
}


